# ignore virtual env files into git
/venv/*

# ignore environment variable files
.env
vagrant/.env

# ignore testing environment variable files
.env.test

# ignore Python bytecode files
app/__pycache__/*
__pycache__/
.pytest_cache/
*.pyc

# ignore log files
*.log

# ignore pem files
vagrant/*.pem

# ignore Vagrant state
vagrant/.vagrant

# ignore Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.pem
*.key

.venv/
migrations/
